<template>
    <v-card>
        <v-container>
            <h1>Lista ToDo</h1>
            <ul>
                <li v-for="position in positions" :key="position.id">
                    {{ position.content }}
                </li>
            </ul>
            <v-container>
                <v-form @submit.prevent="submit">
                    <v-text-field 
                        label="Nowa pozycja"
                        v-model="form.newPositionText"></v-text-field>
                    <v-btn type="submit">Dodaj</v-btn>
                </v-form>
            </v-container>
        </v-container>
    </v-card>
</template>

<script>
import uuid from 'uuid';
import Axios from 'axios';

export default {
    name: 'ToDo',
    data () {
        return {
            backendUrl: null,
            positions: [],
            form: {
                newPositionText: null,
                newPostionRules: [
                    v => !!v || 'Pole wymagane'
                ],
                valid: false
            }
        };
    },
    methods: {
        async submit () {
            const position = {
                id: uuid(),
                content: this.form.newPositionText,
                order: this.positions.length
            };
            this.positions.push(position);
            this.form.newPositionText = null;
            Axios.post(`${await this.backendUrl}/positions`, position);
        }
    },
    async created () {
        this.backendUrl = new Promise(async resolve => resolve((await Axios.get('/runtime-config.json')).data.backendUrl));
        this.positions = (await Axios.get(`${await this.backendUrl}/positions`)).data;
    }
}
</script>
