<template>
  <v-app>
      <v-content>
        <v-layout justify-center fill-height fluid>
          <v-container>
            <v-flex xs4 shrink>
              <ToDo />
            </v-flex>
          </v-container>
        </v-layout>
      </v-content>
  </v-app>
</template>

<script>
import ToDo from './components/ToDo';

export default {
  name: 'App',
  components: {
    ToDo
  }
}
</script>
